<head>
	<title>{% if meta.title %} {{ meta.title }} | {% endif %} {{ site_title }}</title>
	{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
	{% endif %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible", content="IE=edge">
	<meta name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link type="image/x-icon" rel="shortcut icon" href="{{ config.assets_url }}favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ config.assets_url }}favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ config.assets_url }}favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ config.assets_url }}favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="512x512" href="{{ config.assets_url }}logo.png">
</head>